@font-face {
    font-family: Llight;
    src: url('/public/fonts/Lato-Light.ttf')
}

@font-face {
    font-family: Mlight;
    src: url('/public/fonts/Montserrat-Light.ttf')
}

.bodytextfp{
    font-family: Llight;
    font-size: 14px;
}

.bodytext1fp{
    font-family: Llight;
    font-size: 16px;
}

.headingtextfp{
    font-family: Mlight;
    font-size: 48px;
}

.headingtext2fp{
    font-family: Llight;
    font-size: 20px;
}

.headingtext3fp{
    font-family: Mlight;
    font-size: 28px;
}
