@font-face {
    font-family: Llight;
    src: url('/public/fonts/Lato-Light.ttf')
}

@font-face {
    font-family: Mlight;
    src: url('/public/fonts/Montserrat-Light.ttf')
}

.bodytext{
    font-family: Llight;
    font-size: 14px;
}

.bodytext1{
    font-family: Llight;
    font-size: 16px;
}

.headingtext{
    font-family: Mlight;
    font-size: 56px;
}

.headingtext2{
    font-family: Llight;
    font-size: 24px;
}

.headingtext3{
    font-family: Mlight;
    font-size: 32px;
}