

@font-face {
  font-family: Mlight;
  src: url("../public/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Llight;
  src: url('/public/fonts/Raleway-Light.ttf')
}


@font-face {
  font-family: Msemibold;
  src: url('/public/fonts/Montserrat-SemiBold.ttf')
}


.upperbody {
  background-color: #060606;
}

.lowerbody {
  background-color: #4b4e49 !important;
}

body {
  margin: 0;
  padding: 0;

}

.containermainbody {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;

}

@media (max-width: 639px) {
  .containermainbody {
    width: 100%;
    margin: auto;
    padding: auto;
  }

  .footer-container {
    width: 100%;
  }

  body {
    margin: auto;

  }
}

.customtoastbody{
  font-family: Msemibold;
  font-size: 14px;
}

.alluse{
  font-family: Mlight;
}



/* Landing Page*/
.headingtextlanding{
  font-family: Mlight;
  font-size: 36px;
}

.bodytextlanding{
  font-family: Mlight;
  font-size: 16px;
}

.categorycard{
  width: 105px;
  height: 105px;
  background: linear-gradient(to bottom right, white, #CA8A04 50%);
  border-radius: 20%;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out, background ease;
}

.categorycard:hover{
  border-radius: 50%;
  background: linear-gradient(to bottom right, #CA8A04, white 90%);
}

.cardname{
  font-family: Msemibold;
  font-size: 13px;
  color: black;
  padding: 5px;
}

.cardicon{
  margin: auto;
  padding: 5px;
  height: 64px;
  width: 64px;
}

.buttontextlanding{
  font-family: MSemibold;
  font-weight: 900;
}









/*create listing page*/
.createListingHeading{
  font-family: Mlight;
  font-size: 36px;
}


.Note{
  font-family: Mlight;
}

.formheading{
  font-family: Mlight;
}

.field-heading{
  font-family: Mlight;
  font-size: 24px;
}

.ant-select-arrow{
  color:#ca8a04 !important; 
}

.ant-select-selector{
  background-color: #292524 !important;
  color: #f5f5f4 !important;
}

.ant-select-selection-placeholder{
  color: #a8a29e !important;
}

.ant-input{
  background-color: #292524 !important;
  color: #f5f5f4 !important;
}

.ant-input::placeholder{
  color: #a8a29e !important;
}


.ant-input-clear-icon{
  color:#ca8a04 !important; 
}

.ant-input-number{
  background-color: #292524 !important;
  color: #f5f5f4 !important;
}

.ant-input-number-input{
  color: #f5f5f4 !important;
}



/* Modal css*/

.modal-heading{
  font-family: Mlight;
}

.modal-text{
  font-family: Mlight;
}

.modal-button-ok{
  font-family: Mlight;

}

.modal-button-cancel{
  font-family: Mlight;
}



/* Listing Page*/
.ant-carousel .slick-prev{
  display: block;
  color: white !important;
  font-size: 12px;
  height: 30px;
  width: 30px;
}

.ant-carousel .slick-next{
  display: block;
  color: white !important;
  font-size: 12px;
}

.ant-carousel {
  .slick-next {
    &::before {
      content: '';
    }
  }
  .slick-prev { 
    &::before {
      content: '';
    }
  }
}



::-webkit-scrollbar {
  width: 7px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* You can change the color */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; /* You can change the color */
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ca8a04; /* You can change the color */
}

