@font-face {
    font-family: Llight;
    src: url('/public/fonts/Lato-Light.ttf')
}

@font-face {
    font-family: Mlight;
    src: url('/public/fonts/Montserrat-Light.ttf')
}

@font-face {
    font-family: Msemibold;
    src: url('/public/fonts/Montserrat-SemiBold.ttf')
}

.headingtextlanding{
    font-family: Mlight;
    font-size: 36px;
}

.bodytextlanding{
    font-family: Llight;
    font-size: 17px;
}

.categorycard{
    width: 105px;
    height: 105px;
    background: linear-gradient(to bottom right, white, #CA8A04 50%);
    border-radius: 20%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out, background ease;
}

.categorycard:hover{
    border-radius: 50%;
    background: linear-gradient(to bottom right, #CA8A04, white 90%);
}

.cardname{
    font-family: Msemibold;
    font-size: 13px;
    color: black;
    padding: 5px;
}

.cardicon{
    margin: auto;
    padding: 5px;
    height: 64px;
    width: 64px;
}

.buttontextlanding{
    font-family: MSemibold;
    font-weight: 900;
}