@font-face {
    font-family: Llight;
    src: url('/public/fonts/Lato-Light.ttf')
}

@font-face {
    font-family: Mlight;
    src: url('/public/fonts/Montserrat-Light.ttf')
}

.bodytext{
    font-family: Llight;
    font-size: 14px;
}

.bodytext1{
    font-family: Llight;
    font-size: 16px;
}

.headingtextsignup{
    font-family: Mlight;
    font-size: 48px;
}

.headingtext2signup{
    font-family: Llight;
    font-size: 20px;
}

.headingtext4signupjeweler{
    font-family: Llight;
    font-size: 32px;
    color: #4a4e49;
}

.upload-container{
    padding: 5px;
    border: 1px solid white;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 1%;
    background-color: rgba(255,255,255,0.1);
  }
  
.upload-button{
    width: 90px;
    height: 90px;
    background-color: transparent;
    margin: 5px;
    border: 1px solid #d2ac47;
    border-radius:10%;
    font-size: 12px;
    font-family: Mlight;
    color: #d2ac47;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

.uploader-icon{
    width: 36px;
    height: 36px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    
}

.upload-button:hover{
    color: white;
  
    .uploader-icon{
        scale: 1.1;
    }
}

.single-image-icon{
    width: 18px;
    height: 18px;
    margin: auto;
}